doctype html
html
    head
        link(rel="stylesheet")
    body
        table
            thead
            tbody
                - icons.forEach(function(icon) {
                tr
                    td
                        span
                    td= icon
                - })
